name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"

      - name: Enable caching
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Update sw.js and bundle
        run: uv run main.py --bundle

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          # Use the latest commit message from the current branch (main) as the deploy commit message
          current_msg=$(git log -1 --pretty=%B || echo "Update sw.js cache name and bundle assets")
          git checkout -b deploy

          git add -f frontend/web/sw.js
          git add -f frontend/web/bundle.min.js frontend/web/style.min.css
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "$current_msg"
            git push origin deploy --force
          fi
